{% extends "layout.html" %}
{% block conteudo %}
    <div class="container">

	<div class ="row">
		<img src="{{ url_for('static', filename='img/logotipo.png') }}" class="img-responsive center-block logo" alt="Responsive image">
	</div>

	<div class ="row top-buffer-50">
		<div class="col-md-2">
			<div class="circle">
    				<a href="#">
      				<p class="menulink">início</p>
    				</a>
			</div>
  		</div>

		<div class="col-md-2">
			<div class="circle">
    				<a href="#">
				<p class="menulink">perfil</p>
    				</a>
			</div>
  		</div>

		<div class="col-md-2">
			<div class="circle">
    				<a href="#">
				<p class="menulink">serviços</p>
    				</a>
			</div>
  		</div>

		<div class="col-md-2">
			<div class="circle">
    				<ul class="nav">
                        <li class="dropdown"><p class="menulink">projetos</p>
                            <ul class="dropdown-menu">
                                <li><a href="/projetos/comercial">comercial</a></li>
                                <li><a href="/projetos/residencial">residencial</a></li>
<li><a href="/projetos/institucional">institucional</a></li>
<li><a href="/projetos/iluminacao">iluminação</a></li>
                            </ul>
                        </li>
			</div>
  		</div>

		<div class="col-md-2">
			<div class="circle">
    				<ul class="nav">
                        <li class="dropdown"><p class="menulink">publicações</p>
                            <ul class="dropdown-menu">
                                <li><a href="#">anais e eventos</a></li>
                                <li><a href="#">revistas e sites</a></li>
                            </ul>
                        </li>
			</div>
  		</div>
		<div class="col-md-2">
			<div class="circle">
                        <a href="#"><p class="menulink">blog</p></a>
                          
                        </li>


			</div>
  		</div>
	</div>

	<div class="top-buffer-120 row social center-block small">
    		<ul>
        <li><a href="#"><i class="fa fa-lg fa-whatsapp"></i></a> 83 99992.1322</li>
	<li><a href="#"><i class="fa fa-lg fa-at"></i></a> marianaflorentinoarq@gmail.com</li>
        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a> marianaflorentinoarq</li>
        <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a> @marianaflorentinoarq</li>
    	</ul>
	</div>
	
    </div>
{% endblock %}
