{% extends "layout.html" %}
{% block conteudo %}
    <div class="container">

	


        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">{{projetos[0].tipo.nome}}</h1>
            </div>

		{% for projeto in projetos %}
<div class="col-lg-3 col-md-4 col-xs-6 ">
<div class="thumbnail">
		<div class="caption">
                    <h4>{{ projeto.nome }}</h4>
                    <p>{{ projeto.cliente }}</p>
                    <a href="{{url_for('static', filename='files/' + projeto.fotos[0].path)}}" data-lightbox="{{projeto.nome}}" data-title="{{projeto.fotos[0].legenda}}" class="label label-default" rel="tooltip" title="Ver fotos">Ver Fotos</a></p>
                </div>               
                    <img class="img-responsive" src="{{url_for('static', filename='files/' + projeto.path)}}" alt="">
                </a>
</div>
            </div>
			{% for foto in projeto.fotos %}
				{% if loop.index0 > 0 %}
					<a href="{{url_for('static', filename='files/' + foto.path)}}" data-lightbox="{{projeto.nome}}" data-title="{{foto.legenda}}"></a>
				{% endif %}		
			{% endfor %}
		{% endfor %}
		
</div>
            
    </div><!-- /.container -->

{% endblock%}
